<nav class="header__nav">
  <ul class="header__my-nav">
    <li class="header__my-page header__my-page--popular">
      <a class="header__page-link" href="popular.html" title="Популярный контент">
        <span class="visually-hidden">Популярный контент</span>
      </a>
    </li>
    <li class="header__my-page header__my-page--feed">
      <a class="header__page-link" href="feed.html" title="Моя лента">
        <span class="visually-hidden">Моя лента</span>
      </a>
    </li>
    <li class="header__my-page header__my-page--messages">
      <a class="header__page-link" href="messages.html" title="Личные сообщения">
        <span class="visually-hidden">Личные сообщения</span>
      </a>
    </li>
  </ul>
  <ul class="header__user-nav">
    <li class="header__authorization">
      <a class="header__user-button header__user-button--active header__authorization-button button">Вход</a>
    </li>
    <li>
      <a class="header__user-button header__register-button button">Регистрация</a>
    </li>
  </ul>
</nav>
