<li class="messages__contacts-item">
  <a class="messages__contacts-tab messages__contacts-tab--active tabs__item tabs__item--active" href="#">
    <div class="messages__avatar-wrapper">
      <img class="messages__avatar" src="./assets/img/userpic-larisa.jpg" alt="Аватар пользователя">
    </div>
    <div class="messages__info">
      <span class="messages__contact-name">
        Лариса Роговая
      </span>
      <div class="messages__preview">
        <p class="messages__preview-text">
          Озеро Байкал – огромное
        </p>
        <time class="messages__preview-time" datetime="2019-05-01T14:40">
          14:40
        </time>
      </div>
    </div>
  </a>
</li>
