<div class="{{ field?.formName }}__input-wrapper form__input-wrapper">
  <label class="{{ field?.formName }}__label form__label" for="{{ field?.id }}"> {{ field?.content }}
    <span
      [class.form__input-required]="field?.isRequired"
      [class.visually-hidden]="!field?.isRequired">
      *
    </span>
  </label>
  <div class="form__input-section">
    <input class="{{ field?.formName }}__input form__input" id="{{ field?.id }}" type="{{ field?.type }}" name="{{ field?.inputName }}" placeholder="{{ field?.placeholder }}">
    <form-error></form-error>
  </div>
</div>
